<!DOCTYPE html>
<html lang="en" ng-app="catApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cat Clicker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="catAppController" style="background-color: {{currentCat.color}}; color: {{currentCat.color}};">
   
    <section class="selection-list" ng-style="padding">
        <ul>
            <li ng-repeat="cat in cats" style="color: {{cat.color}}"> 
                <span class="name" ng-click="select(cat)">{{cat.name}}</span>
                <span class="remove fa fa-times" ng-click="removeAndReact(cat)"></span>
            </li>
        </ul> <!-- Cats List -->
    </section>
        
    <section class="selected" ng-class="{'fade-out': faded}">
        <div class="clicks" ng-class="{'show-clicks': clicksVisible}">{{currentCat.clicksCount}}</div>
        <h2 class="name">{{currentCat.name}}</h2>
        <img alt="Cat" ng-src="{{currentCat.src}}" ng-click="incrementClicks()">
    </section> <!-- Selected Cat -->
            
    <section class="addition">
        <i class="add fa fa-plus" ng-class="{move: plusMoved}" title="Add new cat" ng-click="toggleForm()"></i>
       
        <form ng-class="{'pop-up': formVisible}" ng-submit="add()">
            <input class="name" type="text" placeholder="cat name" ng-model="newCat.name" required>
            <input class="src" type="text" placeholder="cat image url" ng-model="newCat.src" required>
            <input class="color" type="text" placeholder="color (any color format)" ng-model="newCat.color" style="color: {{newCat.color}}" ng-focus="showMsg()" ng-blur="hideMsg()">
            <small ng-class="{'show-msg': msgVisible}">
                <i>(Optional) if not specified, a 
                    <span class="random">
                        <span class="r">r</span>
                        <span class="a">a</span>
                        <span class="n">n</span>
                        <span class="d">d</span>
                        <span class="o">o</span>
                        <span class="m">m</span>
                    </span>
                color will be used.</i> 
            </small>
            <button style="background-color: {{currentCat.color}}" type="submit">add new cat</button>
        </form>
    </section>
</body>
</html>